.paragraphe {
  margin-top: 160px;
  padding: 50px 300px;
  font-size: 20px;
}

.contact {
    display: flex;
    justify-content: center;
  }
  
  .contact form,
  .contact-info {
    background-color: #f7f7f7;
    padding: 20px;

    width: 500px; 
    
  }
  
  .contact-info p {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
  }
  
  .social-icons img {
    
    margin: 0 5px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.1s ease-in-out;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  


  
  .contact {
    
    padding: 40px;
    margin-top: 50px;
    width: auto;
    background-color: #b30b13;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact h3 {
    font-size: 28px;
    color: #631216;
    margin-bottom: 20px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    
  }
  
  .contact label {
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
  }
  
  .contact input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    
  }
  
  .contact button {
    background-color: #e30913;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .contact button:hover {
    background-color: #b30b13;
  }
  

  footer{
    margin-top: 60px;
  }