html body {
  margin: 0px;
  padding: 0px;

  background-color: #ffddb9;
  font-family: Arial, Helvetica, sans-serif;

}
@font-face {
  font-family: Magic;
  src: url(../typo/Magic.ttf);
}

a {
  margin: 0;
  padding: 0;
}
header {
  background-color: #ffddb9;
  display: inline;
  display: flex; 
  align-items: center; /* Aligne les éléments verticalement au centre */
  border-bottom: #eda659d7 solid 1px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;

  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}
h1 {
  font-family: Magic, Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 30px;
  font-size: 40px;
  z-index: 0;
}

h1 a {
  text-decoration: none; 
  color: #e30913;
}

h1 a:hover {
  cursor: pointer;
}

#image {
  width: 500px;
  height: 400px;
  padding: 20px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  margin: 0px 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

header a {
  padding: 10px 20px;
  transition: font-size 0.2s;
  transition: color 0.3s;
}

header ul li a:hover {
  color: #e30913;
  font-size: 20px;
}



#icone {
  height: 30px;
  transform: translate(0, -5px);
  position: fixed;
  right: 100px;
  transition: transform 0.2s;
}

#icone:hover {
  transform: scale(1.1);
}

#anim {
  z-index: 4;
  height: 20px;
  background-image: url(../images/damier.png); 
  background-size: 20px;
  animation: moveBackground 60s linear infinite; /* Mon animation passera de 0% à 100% en 60s de manière linéraire à l'infini*/
  position: fixed;
  top: 100px; 
  left: 0; 
  width: 100%; 
}

@keyframes moveBackground {
  from {
    background-position: 0;
  }
  to {
    background-position: 100%;
  }
}



.map-container {
  border-radius: 20px;
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  height: 500px;
  width: 1100px;
  background-color: #ffc499;
}

.map-container h2{
  margin: 40px;
}

#map {
  width: 650px;
  height: 480px;
  top: 0px;
  right: 0;
  z-index: 1;
  position: absolute;
  border-radius: 10px;

  margin: 10px;
}

.horaires {
  clear: both;
}



#horaires li {
  list-style: none;

  margin: 20px 0px 20px 40px;
}

#affiche {
  margin-top: 100px;
  margin-left: 0px;
  padding-left: 0;
  width: 100%;
  left: 0;
}

#camion {
  width: 500px;
  height: auto;
  background-color: #ffc499;
  padding: 50px;
  margin: 40px 0px;
  position: absolute;
  left: 100px;
}

#menu {
  width: 500px;
  background-color: #ffc499;
  padding: 50px;
  margin: 40px 0px;
  position: absolute;
  right: 100px;
}

.photocamion {
  width: 500px;
}

.cta {
  padding: 20px;
  margin-top: 10px;
  background-color: #e30913;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  transition: transform 0.2s;
  transition: background-color 0.2s;
  width: 100%;
}

.cta:hover {
  transform: translateY(-0.25em);
  background-color: #b30b13;
}

footer {
  background-color: #e30913;
  height: 250px;
  width: 100%;
  margin-top: 680px;
  overflow: visible;
  color: #631216;
  overflow: hidden;
}

footer h2 {
  padding-top: 40px;
  font-family: "Magic";
  font-size: 40px;
  color: #631216;
  margin: 0px;
}

footer h3 {
  margin: 0px;
  padding: 0;
  font-size: 20px;
}

.footersection {
  width: 400px;
  height: 250px;

  text-align: center;
  margin: 0;
  padding: 0;
}

.separateur-vertical {
  border-left: 3px solid #631216;
  height: 200px;
  position: relative;
  left: 400px;
  top: -215px;
  border-radius: 3px;

  width: min-content;
}

footer span img {
  margin: 40px 20px;
  width: 30px;
  transform-origin: center;
  transition: transform 0.1s ease-in-out;
}

footer span img:hover {
  transform: scale(1.1);
}

#position-deux {
  position: relative;
  left: 410px;
  top: -240px;
  text-align: left;
  margin-left: 30px;
}

#position-deux h3 {
  font-size: 25px;
  padding-top: 45px;
  margin-bottom: 30px;
}

#position-deux p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 20px;
}

#position-deux .separateur-vertical {
  margin-top: 57px;
  left: 250px;
}

#position-trois {
  position: relative;
  left: 700px;
  top: -410px;
  text-align: left;
  margin-left: 30px;
}

#position-trois ul {
  margin-top: -40px;
}

#position-trois .separateur-vertical {
  margin-top: 47px;
  left: 250px;
}

footer ul li {
  list-style: none;
  margin-left: -30px;
  margin-bottom: 22px;
}

footer ul li a {
  transition: letter-spacing 0.05s ease-in-out;
}

footer ul li a:hover {
  letter-spacing: 1px;
  font-weight: bold;
}

footer a {
  color: #631216;
}
